[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
requests = "*"
async-timeout = ">=4"
tqdm = "*"

[dev-packages]
black = "*"
solrdumper = {extras = ["dev"], path = "."}

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
