[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
async-timeout = ">=4"
tqdm = "*"
rich = "*"
httpx = "*"
aiohttp = "3.8.3"
orjson = "*"
click = "*"
more-itertools = "*"
networkx = {extras = ["default"], version = "*"}

[dev-packages]
black = "*"
solrdumper = {extras = ["dev"], path = "."}
pre-commit = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
