[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
async-timeout = ">=4"
tqdm = "*"
rich = "*"
httpx = "*"
aiohttp = {extras = ["speedups"], version = "*"}
orjson = "*"
click = "*"

[dev-packages]
black = "*"
solrdumper = {extras = ["dev"], path = "."}
pre-commit = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
